[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
motor = "*"
passlib = {extras = ["brypt"], version = "*"}
pyjwt = "*"
pydantic-settings = "*"
httpx-ws = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
